<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8" />
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>SHIPSAFE</title>
    <meta name="description" content="" />

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <!-- Additional CSS Files -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/tooplate-style.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/owl.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css'%}" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

      <script src = '{% static "javascriptt/jquery.js" %}'></script>

    {% block extra_head %}
    {% endblock %}

  </head>
<!--
Tooplate 2116 Blugoon
https://www.tooplate.com/view/2116-blugoon
-->
  <body>
         {% if messages %}
        <div>
          <strong>Messages:</strong>
          <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

    <div id="page-wraper">
      <!-- Sidebar Menu -->
      <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
          <i class="fa fa-times" id="menu-close"></i>
          <div class="container">
            <div class="image">
              <a href="#"><img src="{% static 'images/logo.jpg'%}" alt="Blugoon by Tooplate" /></a>
            </div>
            <div class="author-content">
              <h4>SHIPSAFE</h4>
              <span> UK-SAFE-LOGISTICS </span>
            </div>
            <nav class="main-nav" >
              <ul >
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'home' %}">About</a></li>
                <li><a href="{% url 'pricing' %}">Pricing</a></li>
                <li><a href="#section4">Contact</a></li>
                 {% if user.is_authenticated %}
                  <li><a href="#parcel_tracking_id_form">Track a Shipment</a></li>
                 <li><a href="#section4">Book Now</a></li>
                  <li class="btn btn-info col-md-push-6"><a href="{% url 'account_email' %}">Change E-mail</a></li>
                  <li class="btn btn-info col-md-push-6"><a href="{% url 'account_logout' %}">Sign Out</a></li>
                  {% else %}
                  <li><a href="{% url 'account_signup' %}">Track a Shipment</a></li>
                  <li class="btn btn-info col-md-push-6"><a href="{% url 'account_login' %}">Sign In</a></li>
                  <li class="btn btn-info col-md-push-6"><a href="{% url 'account_signup' %}">Sign Up</a></li>
                  {% endif %}
              </ul>
            </nav>
            <div class="social-network">
              <ul class="soial-icons">
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-dribbble"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-rss"></i></a>
                </li>
              </ul>
            </div>
            <div class="copyright-text">
              <p>Copyright 2020 Blugoon<br>
              Design: Tooplate</p>
            </div>
          </div>
        </div>
      </div>

           <section style= "display:flex;justify-content:center;flex-wrap: wrap; flex-basis:100%;"
                    data-section="section1">
               {% block content %}
                  {% endblock %}
           </section>

            {% block extra_body %}
             {% endblock %}


      <section class="section about-me" data-section="section1">
        <div class="container">
        <div class="top-header">
        	<img src="{% static 'assets/images/aerobic-girls.jpg'%}" alt="aerobic girls" />
        </div>
          <div class="section-heading">
          
            <h2></h2>
            <div class="line-dec"></div>
            <span> SHIPSAFE is an independent privately owned freight forwarding, logistics management and international shipping company, that provides exceptional services to commercial clients, private individuals and agents worldwide.

              SHIPSAFE  is one of the leading international providers of worldwide air, land and sea freight.
              SHIPSAFE  was formed in 1998, and after 16 years of operation we now have offices and warehouses in London and Frankfurt.

              ABOUT US
              This has enabled our company to focus not only on sales and customer services, but also supervising of cargo loading/unloading. We offer our clients low-cost and high quality sea freight and logistic solutions both on import and export to all over the globe.

              We have a wide range of clients in different sectors and understand each client is unique with individual requirements. For this reason, we recruit the best individuals throughout the industry.

              We are always moving forward with the advancements in technology. Therefore, SHIPSAFE  has made major investments in information technology and we have the state of the art in-house cargo systems which enable us to offer an impeccable service for all forwarding and logistics requirements. In addition to this, we have formed associated partnerships in all major countries to give worldwide network coverage to our clients.

              These partnerships are under the control and supervision of SHIPSAFE  to ensure no matter where you are, you receive the same exact quality standards that you would expect from SHIPSAFE .
            </span>
          </div>
         </div>
      </section>

        <section class="section my-services" data-section="section2">
            <div id="accordion" style="margin:5px 20px; display:flex; flex-direction:column;">
                <h3>hello</h3>
         
           </div>
        </section>

      <section class="section my-services" data-section="section2">
        <div class="container">
          <div class="section-heading">
            <h2>Greatest Features</h2>
            <div class="line-dec"></div>
            <span>Praesent posuere fringilla elit, non maximus tellus posuere nec. Nunc eu sapien nec est elementum sodales.</span>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="service-item">
                <i class="fa fa-area-chart"></i>
                <h4>Top Performance</h4>
                <p>Donec sit amet tempor quam. Maecenas nec aliquam leo, sed tincidunt urna.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-item">
                <i class="fa fa-check-square-o"></i>
                <h4>Trusted Service</h4>
                <p>Etiam at porta nulla, et euismod enim. Nullam semper ipsum et dui scelerisque.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-item">
                <i class="fa fa-question-circle"></i>
                <h4>Need Help?</h4>
                <p>Phasellus orci leo, elementum ac risus id, euismod porta lorem. Quisque feugiat.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-item">
                <i class="fa fa-support"></i>
                <h4>Quick Support</h4>
                <p>Mauris eu est vitae erat condimentum pellentesque. Fusce vehicula nunc.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

       <section class="section my-services" data-section="section2">
        <div class="container">
          <div class="section-heading">
            <h2>YOUR BENEFITS</h2>
            <div class="line-dec"></div>
            <span> </span>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="service-item">
                <img style="height:150px;" src="{% static '/images/clock1.png/'%}">
                <h4>FAST</h4>
                 <ul>
                 <li>Get your quotes in less than 5 minutes</li>
                 <li>Place your booking with just one click</li>
                 <li>Benefit from 24/7 availability</li>
                 </ul>
                <p>

                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-item">
               <img style="height:150px;" src="{% static '/images/Easy.png/'%}">
                <h4>EASY</h4>
                <p>
                <ul>
                 <li>Plan better with transparent pricing</li>
                 <li>Easy-to-use tool with just a few simple steps.</li>
                 <li>Convinient access to preious quotations.</li>
                </ul>
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-item">
                 <img style="height:150px;" src="{% static '/images/flexible1.jpg/'%}">
                <h4>FLEXIBLE</h4>
                <p>
                  <ul>
                 <li>Make informed decision about your cargo.</li>
                 <li>Get quotes for port to port or door to door.</li>
                 <li>Reliable shipping to 120 ports worldwide.</li>
                </ul>
                </p>
              </div>
            </div>

          </div>
        </div>
      </section>


      <section class="section contact-me" data-section="section4">
        <div class="container">
          <div class="section-heading">
            <h2>Contact</h2>
            <div class="line-dec"></div>
            <span>Aenean a consectetur mi, sit amet consequat velit. Mauris vitae nunc viverra, mattis arcu quis, vestibulum eros. </span>
          </div>
          <div class="row">
            <div class="right-content">
              <div class="container">
                <form id="contact" action="" method="post">
                  <div class="row">
                    <div class="col-md-6">
                      <fieldset>

                        <input name="name" type="text" class="form-control"
                          id="name" placeholder="Your name..." required="" />
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset>
                        <input name="email" type="text" class="form-control"
                          id="email" placeholder="Your email..." required=""  />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input name="subject" type="text" class="form-control" 
                          id="subject" placeholder="Subject..." required="" />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <textarea name="message" rows="6" class="form-control"
                          id="message" placeholder="Your message..." required="" ></textarea>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="button">
                          Send Message
                        </button>
                      </fieldset>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'assets/js/isotope.min.js' %}"></script>
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/lightbox.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
     <script>$('#accordion').accordion({
              collapsible:true,
              event:'mouseover',
              active:1,
              heightStyle:true
         })
      </script>
    <script>
      //according to loftblog tut
      $(".main-menu li:first").addClass("active");

      var showSection = function showSection(section, isAnimate) {
        var direction = section.replace(/#/, ""),
          reqSection = $(".section").filter(
            '[data-section="' + direction + '"]'
          ),
          reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $("body, html").animate(
            {
              scrollTop: reqSectionPos
            },
            800
          );
        } else {
          $("body, html").scrollTop(reqSectionPos);
        }
      };

      var checkSection = function checkSection() {
        $(".section").each(function() {
          var $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var currentId = $this.data("section"),
              reqLink = $("a").filter("[href*=\\#" + currentId + "]");
            reqLink
              .closest("li")
              .addClass("active")
              .siblings()
              .removeClass("active");
          }
        });
      };

      $(".main-menu").on("click", "a", function(e) {
        e.preventDefault();
        showSection($(this).attr("href"), true);
      });

      $(window).scroll(function() {
        checkSection();
      });
    </script>
  </body>
</html>