{% extends "account/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
  {% block extra_head %}
    <meta charset="utf-8">
   <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" />
    <!-- Additional CSS Files -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/tooplate-style.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/owl.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css'%}" />

    <meta charset="UTF-8">
    <title>SHIPSAFE</title>

    <link href="{% static 'javascriptt/jquery ui/jquery-ui.css'%}" rel="stylesheet">
     <link href="{% static 'javascriptt/jquery ui/jquery-ui.structure.css'%}" rel="stylesheet">


      <script src = '{% static "javascriptt/jquery.js" %}'></script>
             <script src = '{% static "javascriptt/jquery ui/jquery-ui.js" %}'></script>
       <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


<script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />

    {% endblock extra_head %}

</head>





 {% block extra_body %}

      <section class="section about-me" data-section="section1">

            <form method="post" action="{%url 'customer'%}" id="parcel_tracking_id_form" >
            <div class="form-group">
                    {% csrf_token%}
                    <label for="tracking_id"><h4>Parcel Tracking ID</h4></label>
                    <input style=" border-radius:10px;" type="text" id="tracking_id" value=""  name="tracking_id">
                    <div >
                        <input style=" border-radius:10px;" type="submit" id="submit_btn" class="btn btn-success  ">
                    </div>
            </div>
            </form>

            <form method="post" action="{%url 'customer'%}" id="container_tracking_id_form">
            <div class="form-group">
            {% csrf_token%}
            <label for="container_tracking_id"><h4><b>Container Tracking ID</b></h4></label>
            <input type="text" id="container_tracking_id" value="" name="container_tracking_id">
            <input type="submit" id="submit_btn" class="btn btn-success">
            </div>
           </form>

          <table class="table table-hover" style="width:100%;">
            <thead class="table table-info">
               <tr>
                 <td>CONTAINER ITEM(s)</td>
               </tr>
            </thead>
            <tbody>
            {% if container_items %}
            {% for i in container_items %}
               <tr>
                <td>
                   {{i.name}}

                </td>
               </tr>

                <tr>
                <td>
                   {{i.description|safe}}

                </td>
               </tr>

                <tr>
                <td>
                    <label for="container">CONTAINER:</label>
                    <div id="container">{{i.container}}</div>

                </td>
               </tr>

               <tr>
                <td>
                    <label for="tracking_id">YOUR PARCEL ID:</label>
                    <div id="tracking_id">{{i.tracking_number}}</div>

                </td>
               </tr>

                <tr>
                  <td>
                    <label for="tracking_id">PARCEL LOCATION:</label>
                      <div style="display:flex;  justify-content:center;" >
                        <div id='map' style='width:100%; float:center;
                             height: 400px; border-radius:25px; margin:15px 0px;'
                             class="map col-lg-push-3">
                           {{m|safe}}

                        </div>
                      </div>



                   </td>
                 </tr>


             {% endfor %}
        {%else%}
          <tr>
                <td>
                  {{v}}

                </td>
               </tr>

         {%endif%}

            </tbody>
          </table>


  <!-- TABLE FOR CUSTOMER CONTAINERS -->
        <table class="table table-hover" border="3" style="width:100%;">
            <thead class="table table-info">
               <tr>
                 <td>CUSTOMER CONTAINER(s)</td>

               </tr>
            </thead>
            <tbody>
      {%if customer_containers %}
            {% for i in customer_containers %}
               <tr>
                <td>
                   {{i}}
                </td>
               </tr>
             {% endfor %}
       {% else %}
             <tr>
                <td>
                   {{v}}
                </td>
               </tr>
        {%endif%}
            </tbody>
          </table>

<!-- Table for ready containers -->

        <table class="table table-hover" style="width:100%;">
            <thead class="table table-info">
               <tr>
                 <td>READY CONTAINERS(s)</td>

               </tr>
            </thead>
            <tbody>
          {% if cust_cont %}
            {% for i in cust_cont %}
               <tr>
                <td>
                   {{i}}
                </td>
               </tr>
             {% endfor %}
          {% else %}
              <tr>
                <td>
                    <p>NO CONTAINER BOOKED</p>
                </td>
               </tr>
           {%endif %}
            </tbody>
          </table>


       </section>

   <section class="section about-me" data-section="section1">
       <h4>SERVICES</h4>
       <div class="right-image-post">
            <div class="row">
              <div class="col-md-8">
                <div class="left-text">
                  <h4>OCEAN FREIGHT </h4>
                  <p>You are allowed to use this template for commercial or personal websites. You are NOT allowed to redistribute this on template collection website. You can feature this template on your blog post.</p>
                  <p>All photos in this template are from <a rel="nofollow" href="https://www.pexels.com">Pexels</a> website. Blugoon HTML Template is provided by Tooplate. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
                  <div class="white-button">
                    <a href="#">Read More</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="right-image">
                  <img src="{% static 'assets/images/mountain-reflection.jpg'%}" alt="Mountain Reflection" />
                </div>
              </div>

            </div>
          </div>

       <div class="right-image-post">
            <div class="row">
              <div class="col-md-8">
                <div class="left-text">
                  <h4>OCEAN FREIGHT </h4>
                  <p>You are allowed to use this template for commercial or personal websites. You are NOT allowed to redistribute this on template collection website. You can feature this template on your blog post.</p>
                  <p>All photos in this template are from <a rel="nofollow" href="https://www.pexels.com">Pexels</a> website. Blugoon HTML Template is provided by Tooplate. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
                  <div class="white-button">
                    <a href="#">Read More</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="right-image">
                  <img src="{% static 'assets/images/mountain-reflection.jpg'%}" alt="Mountain Reflection" />
                </div>
              </div>

            </div>
          </div>

       <div class="right-image-post">
            <div class="row">
              <div class="col-md-8">
                <div class="left-text">
                  <h4>OCEAN FREIGHT </h4>
                  <p>You are allowed to use this template for commercial or personal websites. You are NOT allowed to redistribute this on template collection website. You can feature this template on your blog post.</p>
                  <p>All photos in this template are from <a rel="nofollow" href="https://www.pexels.com">Pexels</a> website. Blugoon HTML Template is provided by Tooplate. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
                  <div class="white-button">
                    <a href="#">Read More</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="right-image">
                  <img src="{% static 'assets/images/mountain-reflection.jpg'%}" alt="Mountain Reflection" />
                </div>
              </div>

            </div>
          </div>

   </section>


{% endblock extra_body %}


{% block accordion %}

{% endblock %}

</html>