{% extends "account/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
  {% block extra_head %}
    <meta charset="utf-8">
   <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" />
    <!-- Additional CSS Files -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/tooplate-style.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/owl.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css'%}" />

    <meta charset="UTF-8">
    <title>SHIPSAFE</title>

    <link href="{% static 'javascriptt/jquery ui/jquery-ui.css'%}" rel="stylesheet">
     <link href="{% static 'javascriptt/jquery ui/jquery-ui.structure.css'%}" rel="stylesheet">


      <script src = '{% static "javascriptt/jquery.js" %}'></script>
             <script src = '{% static "javascriptt/jquery ui/jquery-ui.js" %}'></script>
       <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


<script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />

    {% endblock extra_head %}

</head>





 {% block extra_body %}

      <section class="section about-me" data-section="section1">

            <form method="post" action="{%url 'customer'%}" id="parcel_tracking_id_form" >
            <div class="form-group">
                    {% csrf_token%}
                    <label for="tracking_id"><h4>Parcel Tracking ID</h4></label>
                    <input style=" border-radius:10px;" type="text" id="tracking_id" value=""  name="tracking_id">
                    <div >
                        <input style=" border-radius:10px;" type="submit" id="submit_btn" class="btn btn-success  ">
                    </div>
            </div>
            </form>

            <form method="post" action="{%url 'customer'%}" id="container_tracking_id_form">
            <div class="form-group">
            {% csrf_token%}
            <label for="container_tracking_id"><h4><b>Container Tracking ID</b></h4></label>
            <input type="text" id="container_tracking_id" value="" name="container_tracking_id">
            <input type="submit" id="submit_btn" class="btn btn-success">
            </div>
           </form>

          <table class="table table-hover" style="width:100%;">
            <thead class="table table-info">
               <tr>
                 <td>CONTAINER ITEM(s)</td>
               </tr>
            </thead>
            <tbody>
            {% if container_items %}
            {% for i in container_items %}
               <tr>
                <td>
                   {{i.name}}

                </td>
               </tr>

                <tr>
                <td>
                   {{i.description|safe}}

                </td>
               </tr>

                <tr>
                <td>
                    <label for="container">CONTAINER:</label>
                    <div id="container">{{i.container}}</div>

                </td>
               </tr>

               <tr>
                <td>
                    <label for="tracking_id">YOUR PARCEL ID:</label>
                    <div id="tracking_id">{{i.tracking_number}}</div>

                </td>
               </tr>

                <tr>
                  <td>
                    <label for="tracking_id">PARCEL LOCATION:</label>
                      <div style="display:flex;  justify-content:center;" >
                        <div id='map' style='width:100%; float:center;
                             height: 400px; border-radius:25px; margin:15px 0px;'
                             class="map col-lg-push-3">
                              {{m|safe}}

                        </div>
                      </div>



                   </td>
                 </tr>


             {% endfor %}
        {%else%}
          <tr>
                <td>
                  {{v}}

                </td>
               </tr>

         {%endif%}

            </tbody>
          </table>


  <!-- TABLE FOR CUSTOMER CONTAINERS -->
        <table class="table table-hover" border="3" style="width:100%;">
            <thead class="table table-info">
               <tr>
                 <td>CUSTOMER CONTAINER(s)</td>

               </tr>
            </thead>
            <tbody>
      {%if customer_containers %}
            {% for i in customer_containers %}
               <tr>
                <td>
                   {{i}}
                </td>
               </tr>
             {% endfor %}
       {% else %}
             <tr>
                <td>
                   {{v}}
                </td>
               </tr>
        {%endif%}
            </tbody>
          </table>

<!-- Table for ready containers -->

        <table class="table table-hover" style="width:100%;">
            <thead class="table table-info">
               <tr>
                 <td>READY CONTAINERS(s)</td>

               </tr>
            </thead>
            <tbody>
          {% if cust_cont %}
            {% for i in cust_cont %}
               <tr>
                <td>
                   {{i}}
                </td>
               </tr>
             {% endfor %}
          {% else %}
              <tr>
                <td>
                    <p>NO CONTAINER BOOKED</p>
                </td>
               </tr>
           {%endif %}
            </tbody>
          </table>


          <section class="section contact-me" data-section="section4">
        <div class="container">
          <div class="section-heading">
            <h2>SENDER</h2>
            <div class="line-dec"></div>
            <span>
               Reach out to us.

            </span>
          </div>
          <div class="row">
            <div class="right-content">
              <div class="container">

                <form id="contact" action="{% url 'report' %}" method="post">
                     {% csrf_token %}
                  <div class="row">
                    <div class="col-md-6">
                      <fieldset>

                        <input name="name" type="text" class="form-control"
                          id="name" placeholder="Your name..." required="" />
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset>
                        <input name="email" type="text" class="form-control"
                          id="email" placeholder="Your Address..." required=""  />
                      </fieldset>
                    </div>
                       <div class="col-md-6">
                      <fieldset>
                        <input name="email" type="text" class="form-control"
                          id="email" placeholder="City" required=""  />
                      </fieldset>
                      </div>
                        <div class="col-md-6">
                      <fieldset>
                        <input name="email" type="text" class="form-control"
                          id="email" placeholder="State" required=""  />
                      </fieldset>
                    </div>
                        <div class="col-md-12">
                      <fieldset>
                        <input name="subject" type="text" class="form-control"
                          id="subject" placeholder="Zip Code" required="" />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input name="subject" type="text" class="form-control"
                          id="subject" placeholder="Phone" required="" />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="button">
                          Send Message
                        </button>
                      </fieldset>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>


          <div class="container">
          <div class="section-heading">
            <h2>RECEIVER</h2>
            <div class="line-dec"></div>
            <span>
               Reach out to us.

            </span>
          </div>
          <div class="row">
            <div class="right-content">
              <div class="container">

                <form id="contact" action="{% url 'report' %}" method="post">
                     {% csrf_token %}
                  <div class="row">
                    <div class="col-md-6">
                      <fieldset>

                        <input name="name" type="text" class="form-control"
                          id="name" placeholder="Your name..." required="" />
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset>
                        <input name="email" type="text" class="form-control"
                          id="email" placeholder="Your Address..." required=""  />
                      </fieldset>
                    </div>
                       <div class="col-md-6">
                      <fieldset>
                        <input name="email" type="text" class="form-control"
                          id="email" placeholder="City" required=""  />
                      </fieldset>
                      </div>
                        <div class="col-md-6">
                      <fieldset>
                        <input name="email" type="text" class="form-control"
                          id="email" placeholder="State" required=""  />
                      </fieldset>
                    </div>
                        <div class="col-md-12">
                      <fieldset>
                        <input name="subject" type="text" class="form-control"
                          id="subject" placeholder="Zip Code" required="" />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input name="subject" type="text" class="form-control"
                          id="subject" placeholder="Phone" required="" />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="button">
                          Send Message
                        </button>
                      </fieldset>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>


      </section>



          <script>
                 fn1 = function(name){

               console.log(name)

           $.ajax({
           type:'GET',
           url:'http://127.0.0.1:8000/create_cust_container/'+name+'/',
           data:{'mes':'xup'},
             success:function(){
                 console.log('cool')}

    })
    }
      </script>


       </section>



{% endblock extra_body %}


{% block accordion %}

{% endblock %}

</html>