
{% extends "account/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
 <meta charset="utf-8">
   <meta name="viewport" content="width=device-width,initial-scale=1">
<head>
    {% block extra_head %}

    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/customer.css/'%}" rel="stylesheet">
    <link href="{% static 'javascriptt/jquery ui/jquery-ui.css'%}" rel="stylesheet">
     <link href="{% static 'javascriptt/jquery ui/jquery-ui.structure.css'%}" rel="stylesheet">


      <script src = '{% static "javascriptt/jquery.js" %}'></script>
             <script src = '{% static "javascriptt/jquery ui/jquery-ui.js" %}'></script>
       <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


<script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />

{% endblock %}


</head>



 {% block extra_body %}
<div style=" border-radius:25px;
                display:flex; flex-direction:row;">
   <div style="background:yellow; border-radius:25px;
                display:flex; flex-direction:column; justify-content:space-around;">
       <h2 style="margin:5px 15px;display:flex;justify-content:center;">WELCOME</h2>
                <div style="margin:60px 150px;display:flex;"><h2>{{request.user}}</h2></div>
                <div  style="margin:5px 15px;display:flex;justify-content:center;"" >
                    <a href="{%url 'updatecustomer'%}"><h2>ACCOUNT UPDATE</h2></a>
               </div>
                <div style="margin:5px 15px;display:flex;justify-content:center;">
                    {% if request.user.customer.profile_pic %}
                    <img style="height:150px;" src="{{request.user.customer.profile_pic.url}}">
                    {%else%}
                     <img style="height:150px;" src="{% static '/images/clock1.png/'%}">
                    {%endif%}
                </div>

       <div style="margin:5px 15px;display:flex;justify-content:center;">
            <img style="height:150px;" src="{% static '/images/clock1.png/'%}">
       </div>
       <div style="margin:5px 15px;display:flex;justify-content:center;">
            <img style="height:150px;" src="{% static '/images/clock1.png/'%}">
       </div>

   </div>


  <div style=" background:grey; border-radius:25px;
           display:flex;  flex-direction:column;  line-height:20px;">



{{t}}



<div id="parcel_tracking_id_div">
    <form method="post" action="{%url 'customer'%}" id="parcel_tracking_id_form" >
        <div  style="display:flex; flex-direction:row; ">
                {% csrf_token%}
                <label for="tracking_id"><h4>Parcel Tracking ID</h4></label>
                <input style=" border-radius:25px;" type="text" id="tracking_id" value=""  name="tracking_id">
                <div >
                    <input type="submit" id="submit_btn" class="btn btn-success  ">
                </div>
        </div>
    </form>
</div>

<div id="container_tracking_id_div">
    <form method="post" action="{%url 'customer'%}" id="container_tracking_id_form">
        <div class="form-group">
            {% csrf_token%}
            <label for="container_tracking_id"><h4><b>Container Tracking ID</b></h4></label>
            <input type="text" id="container_tracking_id" value="" name="container_tracking_id">
            <input type="submit" id="submit_btn" class="btn btn-success">
        </div>
    </form>
</div>


<div id="container-item-table-div" >

          <table class="table table-hover" border="3" style="width:550px;">
            <thead class="table table-info">
               <tr>
                 <td>CONTAINER ITEM(s)</td>

               </tr>
            </thead>
            <tbody>
        {% if container_items %}
            {% for i in container_items %}
               <tr>
                <td>
                   {{i.name}}

                </td>
               </tr>

                <tr>
                <td>
                   {{i.description|safe}}

                </td>
               </tr>

                <tr>
                <td>
                    <label for="container">CONTAINER:</label>
                    <div id="container">{{i.container}}</div>

                </td>
               </tr>

               <tr>
                <td>
                    <label for="tracking_id">YOUR PARCEL ID:</label>
                    <div id="tracking_id">{{i.tracking_number}}</div>

                </td>
               </tr>

                <tr>
                  <td>
                    <label for="tracking_id">PARCEL LOCATION:</label>
                      <div style="display:flex;  justify-content:center;" >
                        <div id='map' style='width:50vw; float:center;
                             height: 400px; border-radius:25px; margin:15px 0px;'
                             class="map col-lg-push-3">
                           {{m|safe}}

                        </div>
                      </div>



                   </td>
                 </tr>


             {% endfor %}
        {%else%}
          <tr>
                <td>
                  {{v}}

                </td>
               </tr>

         {%endif%}

            </tbody>
          </table>
</div>

  <!-- TABLE FOR CUSTOMER CONTAINERS -->
    <div id="customer-container-table-div">
        <table class="table table-hover" border="3" style="width:550px;">
            <thead class="table table-info">
               <tr>
                 <td>CUSTOMER CONTAINER(s)</td>

               </tr>
            </thead>
            <tbody>
      {%if customer_containers %}
            {% for i in customer_containers %}
               <tr>
                <td>
                   {{i}}
                </td>
               </tr>
             {% endfor %}
       {% else %}
             <tr>
                <td>
                   {{v}}
                </td>
               </tr>
        {%endif%}
            </tbody>
          </table>
    </div>


  <!-- Table for ready containers -->
   <div id="ready-containers-div">
        <table class="table table-hover" border="3" style="width:550px;">
            <thead class="table table-info">
               <tr>
                 <td>READY CONTAINERS(s)</td>

               </tr>
            </thead>
            <tbody>
          {% if cust_cont %}
            {% for i in cust_cont %}
               <tr>
                <td>
                   {{i}}
                </td>
               </tr>
             {% endfor %}
          {% else %}
              <tr>
                <td>
                    <p>NO CONTAINER BOOKED</p>
                </td>
               </tr>
           {%endif %}
            </tbody>
          </table>
  </div>


<!-- link to view containers -->
  <div id="link-to-containers">
     <div id="accordion" style="margin:5px 20px; display:flex; flex-direction:column;">

         {% if containers %}
    {% for i in containers %}
         <h3 id="{{i.name}}"> {{i}}</h3>
        <div> {{i.description|safe}}
        </div>
   {%endfor%}
         {% endif %}
    </div>
  </div>

<script>$('#accordion').accordion({
              collapsible:true,
              event:'mouseover',
              active:2,
              heightStyle:true
         })
</script>

  <!-- create_customer-container objrct button
    <div id="cr_cont_obj_btn_div">
<div> </div>
    {% for i in containers %}
        <h3>{{i}}</h3>
       <p>ht<button id="{{i}}" onclick="fn1(name={{i.id}} )" class="cr_cont_obj_btn btn btn-danger">
           {{i}}

            </button>
       </p>

   {%endfor%}
  </div >

   <script>$('#cr_cont_obj_btn_div').accordion({
              collapsible:true,
              event:'mouseover',
              active:1,
              heightStyle:true
         })
</script>
-->

      <!-- function that creates a customer container
<script src="{% static 'javascriptt/Customer-page/create-customer-container.js'%}"> </script>
-->


 <script src = '{% static "javascriptt/jquery ui/jquery-ui.js" %}'></script>
   </div>
</div>

{% endblock extra_body %}


    {% block accordion %}

{% endblock %}

</html>