{% extends "account/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

     {% block extra_head %}
    <meta charset="UTF-8">
    <title>Title</title>

         <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <!-- Additional CSS Files -->
      <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" media="all">
            <link href="{% static 'layout/styles/framework.css' %}" rel="stylesheet" type="text/css" media="all">
      <link href="{% static 'layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'layout/styles/fontawesome-free/css/fontawesome-all.min.css' %}" rel="stylesheet" type="text/css" media="all">
     <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/tooplate-style.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/owl.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css'%}" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

      <script src = '{% static "javascriptt/jquery.js" %}'></script>

    {% endblock %}



    {% block content %}



       <div class="bgded " style="background-image:url('images/demo/backgrounds/01.png');">
  <section id="services" class="hoc container clear">
    <!-- ################################################################################################ -->

<p>

Most of the time  price of shipping is based on how much you ship with a certain carrier. Or what technology you use. Or what type of packaging you use.


     <h6 class="heading">Commercial Base Pricing (CBP)</h6>
CBP rates are the first tier of the commercial world  — hence the name. If you are signed up with a shipping software, the Shipsafe postage accounts that many of those software services provide offer CBP rates on your Shipsafe labels.
These kinds of discounts, if you ship through Shipsafe a bit, can sometimes have the cost of the shipping software pay for itself within a few labels.

     <h6 class="heading">Commercial Plus Pricing (CPP)</h6>
The best rates you can get are the CPP rates. For these, you usually have to qualify by shipping a certain volume of shipments over the course of a given length of time, however, there’s at least one shipping software — like ShipStation — that will give you these rates by signing up with them. These rates can save you up to several dollars per package and with rates always on the rise, getting the deepest discounts on shipping is more important than ever.

      <h6 class="heading">Cubic Pricing</h6>
Although it’s not a tier in the same way as the previous four are, cubic pricing is still a contender to save you a bunch of money.
Rather than use the weight of the package, the shipment’s rate is based on how big the box size, specifically how much cubic room it takes up. These rates require certain things, like fitting within a certain cubic size as well as being under 20 lbs. However, if you ship small, heavy packages, the rates can be much less when compared to your normal shipping costs.

      <h6 class="heading">Retail</h6>
Whether you go to the physical location for either of these carriers or purchase your postage online, the rate is going to be the same. While this makes it simple, once you hit a certain volume, it’s worth it to look into negotiated rates.


      <h6 class="heading">How do you save money on postage?</h6>
Now that you know the difference between all the rates, it’s time to figure out how to get them to work for your business. The below examples can help to give you ideas on ways to save money.
However, you definitely need to take a look at your business, your products, your shipping process, and your needs in relation to your promises to your customers in order to choose the best shipping method.


<h6 class="heading">1. Flat Rates</h6>
Both Shipsafe offer flat rate services for which there is no initial qualification, and can be cheaper than a similar shipment through either of the carriers’ alternative services. Each of the two carriers offer free packaging in a number of different sizes, though the catch is that using those boxes is only way you can use the flat rate services.
However, this makes standardizing your box sizes and rate calculations easy since there are not very many variations. Specifically for Shipsafe Flat Rates, there are even international versions to help make selling to overseas customers a bit less of a risk when it comes to postage costs.

      <h6 class="heading">2. Shipsafe Regional Rate</h6>
The term “regional” means, in this instance, that the rate you pay depends on the region (or zone) where you’re sending your package. However, you can use the regional boxes anywhere within the United States.
The best savings occur using Regional Rate Priority Mail for packages traveling short distances. In addition, Regional Rate Boxes work well for small, bulky packages that could otherwise be very expensive to ship, such as shoes and other clothing items. Much like for flat rate service, you may only use the Shipsafe-produced Regional Rate Boxes, and they each have their own specifications.

      <h6 class="heading">3. Pickups</h6>
The type of pickup you have currently scheduled with your carrier can influence your rates. In some cases, you have to pay a monthly amount in order to receive a daily pickup, but the rates you get in return can help to alleviate that cost or even save you money over what you were paying before.
Depending on which carrier(s) you’re using, investigate the type or pickup options they offer, how much they cost, and what kind of influence they may or may not have over your postage rates. Don’t forget to include the time you save by not driving to the carrier’s physical location in your cost valuation, as well.
Now that you’ve mastered building an efficient warehouse and shipping rates, it’s time to look at what not to do in the world of online shipping.

</p>




      <div class="sectiontitle">
      <p class="nospace font-xs"> </p>
      <h6 class="heading font-x2">COST PLANS  </h6>
    </div>
    <ul class="nospace group elements elements-three">
      <li class="one_third">
        <article style="background:red;"><a href="#"></a>
          <h6 class="heading">Low cost Plan</h6>
            <ul>
          <li>No home delivery of Parcel.</li>
            <li>No tracking of Parcel or Containers. </li>
            <li>15% cheaper than middle cost Plan.</li>
            <li>Free cost estimation sent to email.</li>
            <li>No Liability coverage</li>
            </ul>
        </article>
      </li>
      <li class="one_third">
        <article style="background:red;"><a href="#"></a>
          <h6 class="heading">Middle Cost Plan</h6>
            <ul>
          <li>home delivery of Parcel is enabled.</li>
            <li> Tracking of Parcel or Containers is enabled. </li>
            <li> Get exact location of Parcel or container.</li>
            <li>15% cheaper than Master cost Plan.</li>
            <li>Free cost estimation sent to email.</li>
            <li>25% Liability coverage. </li>
            </ul>
        </article>
      </li>
      <li class="one_third">
        <article style="background:red;"><a href="#"></a>
          <h6 class="heading">Master Cost Plan </h6>
           <ul>
            <li> Home delivery of Parcel is enabled .</li>
            <li> Tracking of Parcel or Containers is enabled. </li>
            <li> Get exact location of Parcel or container.</li>
            <li>Get shipment status via SMS Daily .</li>
            <li>Free cost estimation sent to email.</li>
            <li> Liability coverage. </li>
               <li> Customer Agent is available at your service .</li>
            </ul>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>


      <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

      <script src="{% static 'layout/scripts/jquery.backtotop.js' %}"></script>
      <script src="{% static 'layout/scripts/jquery.easypiechart.min.js' %}"></script>
      <script src="{% static 'layout/scripts/jquery.mobilemenu.js' %}"></script>

    <script src="{% static 'assets/js/isotope.min.js' %}"></script>
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/lightbox.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    {% endblock %}

</html>